<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <add name="HemCS" connectionString="Server=192.168.30.70; database=HeMaster; uid=sa; pwd=internet; Max Pool Size=50; Min Pool Size=20; Application Name=DEVPSBO" />
    <add name="HerCS" connectionString="Server=192.168.30.70; database=HEReserv; uid=sa; pwd=internet; Max Pool Size=50; Min Pool Size=20; Application Name=DEVPSBO" />
  </connectionStrings>
</configuration>